@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.arrow-right {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
  margin-top: 13px;
  margin-left: 9px;
  animation: horizontal 0.7s ease-in-out infinite;
}
a.button.primary{
		width: 20%;
	}
@media screen and (min-width: 1680px){
	.arrow-right {
		margin-top: 20px;
	}	
}
@media screen and (max-width: 480px){
	a.button.primary{
		width: 100%;
	}
}

@keyframes horizontal {
  0% {
    margin-left: 9px;
  }
  50% {
    margin-left: 11px;
  }
  100% {
    margin-left: 9px;
  }
}
 

  